@charset "utf-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }
body {
	background-image: url("../images/lucamichelir9RW20TrQ0Yunsplashcrop.jpg") ;
	background-repeat: no-repeat ;
	background-size: cover;
}

.my-class {
    font-family: 'Montserrat', sans-serif;
}

body p {
    font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
	padding: <vertical> <horizontal> 30px 30px;
}

.my-container {
    border: 2px solid #FFCD7C;
	padding: 40px;
	background-color: antiquewhite;	
}

aside {
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
    border: 2px solid #FFCD7C;
	padding: 40px;
	margin-left: 25px;
	width: 42%;
	float: left;
}

section {
	font-family: 'Montserrat', sans-serif; 
	color: #636979;
    border: 2px solid #FFCD7C;
	padding: 40px;
	margin-left: 25px;
	margin-bottom: 200px;
	width: 42%;
	float: right;
	
}
	
.my-container {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: #FFFFFF;
	margin: 30px;
	text-align: center;
	
}

.container-2 {
	font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: #000000;
	margin: 30px;
}

img{ 
	width: 241px;
	margin-left: 30px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #FFCD7C;
	color: white;
	text-align: center;
	padding: 30px;
}

body h1 {
    font-family: 'Montserrat', sans-serif;
    color: #636979;
	font-size: 50px;
	text-transform: capitalize;
	text-align: center;
}

.my-container h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: #FFFFFF;
}
body h4 {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
	font-size: 25px;
	text-align: center;
}