@charset "utf-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }
body {
	background-image: url("../images/lucamichelir9RW20TrQ0Yunsplashcrop.jpg") ;
	background-repeat: no-repeat ;
	max-width: 100 px ;
	
}

.my-class {
    font-family: Montserrat;
}
body p {
    font-family: Montserrat;
	color: #FFFFFF
}


.my-container {
    border: 2px solid #FFCD7C;
}

body h1 {
    font-family: Montserrat;
    color: #E18957}

.my-container h3 {
    font-family: Montserrat;
    font-style: italic;
    font-variant: small-caps;
    color: #FFFFFF ;
}
body h4 {
    font-family: Montserrat;
    color: #FFFFFF;
}
.my-container {
    font-family: Montserrat;
    font-style: italic;
    color: #FFFFFF;
}

